/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/Vagrantfile
/after.sh
/aliases
/public/**
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
